/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;display:none;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;display:none;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}
#banner-fade2 ul{
height:100px!important;
}
#banner-fade2{
height:100px!important;
}

#banner-fade2 .bjqs-controls {
display:none!important;
}


#banner-fade ol{

margin-left: 40px!important;
    margin-top: 26px!important;
}
ul.bjqs-controls.v-centered li a{
	display:block;
	padding:10px;
	background:#fff;
	color:#000;
	text-decoration: none;
}

ul.bjqs-controls.v-centered li a:hover{
	background:#000;
	color:#fff;
}
iframe #wizard{
display:none;

}
ol.bjqs-markers li a{
	padding:0px 3px;
	background:#999;
	color:#fff;
	margin:5px 8px;
	text-decoration: none;
	line-height: 6px;border:1px solid #ffffff;font-size:0px;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #2C9ECC;border:1px solid #ffffff;
}

p.bjqs-caption{
	background: rgba(255,255,255,0.5);
}